<main>
    <h1>The Beer Scraper</h1>
    <h2>Scraping The Beer Advocate</h2>
    <hr></hr>
    <section>
        {{#each beer}}
            <div class="item">
                <h3>{{beer_name}}</h3>
                <h5>By:{{brewery_name}}</h5>
                <p>Style: {{beer_style}}</p>
                <p>Score: {{score}} / 5</p>
                <p>Review:{{review_body}}</p>
            </div>
            <hr></hr>
        {{/each}}
    </section>
    
</main>