<main>
    <section id="beers">
        {{#each beer}}
            <div class="item">
                <h3>{{beer_name}}</h3>
                <h5>By:{{brewery_name}}</h5>
                <p>Style: {{beer_style}}</p>
                <p>Score: {{score}} / 5</p>
                <p>Review:{{review_body}}</p>
                {{#unless saved}}
                    <button id="{{id}}" class="btn btn-save">Save</button>
                {{/unless}}
                {{#if saved}}
                    <button id="{{id}}" class="btn btn-save">Unsave</button>
                {{/if}}
                <button data-id="{{id}}" class="btn btn-notes">Notes</button>
            </div>
        {{/each}}
    </section>
    
</main>