<main>
    <section id="beers">
        {{#each beer}}
            <div class="item">
                <h3>{{beer_name}}</h3>
                <h5>By:{{brewery_name}}</h5>
                <p>Style: {{beer_style}}</p>
                <p>Score: {{score}} / 5</p>
                <p>Review:{{review_body}}</p>
                {{#unless saved}}
                    <button id="{{id}}" class="btn btn-save">Save</button>
                {{/unless}}
                {{#if saved}}
                    <button id="{{id}}" class="btn btn-save">Unsave</button>
                {{/if}}
                <button data-id="{{id}}" class="btn btn-notes">Notes</button>
            </div>

            <div id="modal{{id}}" class="modal">
                <div class="modal-content">
                    <form action="/notes/{{id}}" method="POST">
                        <h1>Notes</h1>
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name-input">

                        <label for="note">Enter a note:</label>
                        <textarea name="note" id="note-input" cols="30" rows="10"></textarea>
                        <button type="submit">Submit</button>
                    </form>
                    <div class="notes">
                        <h3>Notes:</h3>
                        {{#each notes}}
                            <p>Author: {{author}}</p>
                            <p>Note: {{body}}</p>
                        {{/each}}
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>

        {{/each}}
    </section>
    
</main>